*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* ---------- */

header{
    background-color: #0084fd;
}

.navbar{
    color: white;

    justify-content: space-between;

    align-items: center;
}

.conteiner{
    width: 100%;
}

.flex{
    display: flex;
}

.logo{
    width: 25%;
    padding: 1rem 0 1rem 1.5rem;
}

.fa-bars{
    padding-right: 1.5rem;
    font-size: 1.5rem;
}

.links{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.bottone-header{
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;

}

.comparire{
    display: none;
}

@media all and (min-width:768px) {
        
    .logo{
        width: 15%;
    }

}


@media all and (min-width:1024px) {

    .conteiner {
        
        width: 80%;
        margin: 0 auto;
    }

    .sparire{
        display: none;
    }

    .comparire{
        display: inline-block;
    }

    .logo{
        width: 10%;
    }
    
}

/* -------------------- */


.card{
    background-color: #b5ddff;
    
    margin: 1.5rem;

    border-radius: 25px;
}

.contenuto-card{


    flex-direction: column;

}

.immagine-phone{
    width: 100%;

    margin-bottom: -4px;

}

.bottone-app-store{
    display: block;

    color: white;

    background-color: #0084fd;

    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: none;

    width: 70%;


}

.center-align{
    text-align: center;
}

.color-blu{
    color: #0084fd;
}

.margine-top-bottom{
    margin: 1rem 0;
}

.contenitore-scritte-card{
    width: 90%;
    margin: 0 auto;

    
}

div.card>i{
    color: #0084fd;
    font-size: 5rem;
    padding-top: 2rem;
}

div.card>p{
    padding-bottom: 2rem;
    width: 80%;
    margin: 0 auto;
}

@media all and (min-width:768px) {

    
    .card {
        width: calc((100% / 3) - 1rem);

        margin: 0.5rem
    }

    .immagine-phone {
        width: 70%;
    
     margin-bottom: -4px;

    
    
    }

    .bottone-app-store{
        width: 50%;
    }
    
    .card-x2 {
        width: calc(((100% / 3) * 2) - 1rem);
    }
    
    .contenuto-card {

       

        flex-direction: row;

        flex-wrap: wrap;

    }

        

}


@media all and (min-width:1024px) {
    .contenitore-scritte-card{
        display: flex;
        height: 100%;
    }

    .bottone-app-store{
        width: 80%;
    }

    .contenitore-immagine-phone {
        
        align-self: flex-end;
        
    }

     .immagine-phone {
        width: 110%;

        

    }
}



/* ----------------------- */


.section-viola{
    background-color: #9792e4;
    
}

.card-white{

    background-color: white;
    margin: 2rem 0;

    border-radius: 25px;

    text-align: center;
}

.contenuto-plan{

    flex-direction: column;
}


.planning1{
    width: 70%;

    margin: 3rem 0;
}

.planning2{
    width: 80%;
}

.color-white{
    color: white;
    text-align: left;
   
    margin-top: 2rem;

}

div.card-white>p{
    width: 80%;
    margin: 1rem auto;
}

.contenitore-contenuto-planning{
    width: 90%;
    margin: 0 auto;
}

.bottone-freccia{
    background-color: #9792e4;
    padding: 1rem 1.2rem;
    border-radius: 100%;
    border: none;

    margin: 2rem 0;
}

@media all and (min-width:1024px) {

    .contenuto-plan{
        flex-direction: row;
    
       height: 90vh;

    
    
      
    }

    .color-white{
        margin: 2rem 0;
    }
    
    .contenitore-contenuto-planning-end{
        align-self: flex-end;
    }
    
}

@media all and (min-width:1200px) {

    .contenuto-plan{
        height: 100vh;
    }
    
}

/* ------------ */

/* iniziare da qua */
.contenuto-partner{
    flex-direction: column;

}

.card-partner{

    background-color: #9792e4;
}

/* -------------- */

.contenuto-benefici{

    flex-direction: column;
}



.benefici{
    background-color: white;
    margin: 1rem;
}


@media all and (min-width:768px) {

    
    .contenuto-benefici {
        
        flex-direction: row;
        flex-wrap:wrap;
    }


    .benefici{

        width: calc((100% / 2) - 2rem);
    }
   
}

@media all and (min-width:1024px) {

    .benefici{

        width: calc((100% / 3) - 2rem);
    }


}

/* ------------------- */


.contenuto-generale{

    flex-direction: column;
}

.bottone-linkedin{
    width: 20%;
}



@media all and (min-width:768px) {


    .contenuto-generale {

        flex-direction: row;
        
    }

    .contenitori-contenuto-generale {

         width: 50%;

    }
    
    
}

/* ------------ */

.contenuto-finale{
    flex-direction: column;
}

.bottone-inizia{
    width: 80%;
    margin: 0 auto;
}

/* -------------- */

.footer{


    color: white;

    flex-direction: column;
}

footer{
    background-color: #333333;
}
