*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* ---------- */

header{
    background-color: #0084fd;
}

.navbar{
    color: white;

    justify-content: space-between;

    align-items: center;
}

.conteiner{
    width: 100%;
}

.flex{
    display: flex;
}

.logo{
    width: 25%;
    padding: 1rem 0 1rem 1.5rem;
}

.fa-bars{
    padding-right: 1.5rem;
    font-size: 1.5rem;
}

.links{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.bottone-header{
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;

}

.comparire{
    display: none;
}

@media all and (min-width:768px) {
        
    .logo{
        width: 15%;
    }

}


@media all and (min-width:1024px) {

    .conteiner {
        
        width: 80%;
        margin: 0 auto;
    }

    .sparire{
        display: none;
    }

    .comparire{
        display: inline-block;
    }

    .logo{
        width: 10%;
    }
    
}

/* -------------------- */


.card{
    background-color: #b5ddff;
    height: 80px;
}

.contenuto-card{


    flex-direction: column;

}

@media all and (min-width:768px) {

    
    .card {
        width: calc(100% / 3);

        
    }
    
    .card-x2 {
        width: calc((100% / 3) * 2);
    }
    
    .contenuto-card {

       

        flex-direction: row;

        flex-wrap: wrap;

    }

}

/* ----------------------- */


.section-viola{
    background-color: #9792e4;
    
}

.card-white{

    background-color: white;
    margin: 2rem 1rem;
}

.contenuto-plan{

    flex-direction: column;
}

@media all and (min-width:1024px) {

    .contenuto-plan{
        flex-direction: row;
    }


}

/* ------------ */


.contenuto-partner{
    flex-direction: column;

}

.card-partner{

    background-color: #9792e4;
}

/* -------------- */

.contenuto-benefici{

    flex-direction: column;
}



.benefici{
    background-color: white;
    margin: 1rem;
}


@media all and (min-width:768px) {

    
    .contenuto-benefici {
        
        flex-direction: row;
        flex-wrap:wrap;
    }


    .benefici{

        width: calc((100% / 2) - 2rem);
    }
   
}

@media all and (min-width:1024px) {

    .benefici{

        width: calc((100% / 3) - 2rem);
    }


}

/* ------------------- */


.contenuto-generale{

    flex-direction: column;
}

.bottone-linkedin{
    width: 20%;
}



@media all and (min-width:768px) {


    .contenuto-generale {

        flex-direction: row;
        
    }

    .contenitori-contenuto-generale {

         width: 50%;

    }
    
    
}

/* ------------ */

.contenuto-finale{
    flex-direction: column;
}

.bottone-inizia{
    width: 80%;
    margin: 0 auto;
}

/* -------------- */

.footer{


    color: white;

    flex-direction: column;
}

footer{
    background-color: #333333;
}
