*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.navbar{
    background-color: #0084fd;
    padding: 2rem;

    color: white;

    justify-content: space-between;
}

.flex{
    display: flex;
}